/* Estilo geral para o main */
.mainAVA {
  display: grid;
  margin-top: 20px;
}

/* Estilo das seções */
#createEvaluationSection_unique,
#searchEvaluationSection_unique,
#evaluationsListSection_unique {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Estilo dos rótulos */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Estilo dos inputs e textarea */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonAVA {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

/* Estilo da lista de avaliações */
#evaluationsList_unique {
  margin-top: 10px;
}

.evaluation-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
