@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./home.css);

:root {
  --primary-color: #008c80;
}


* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barraLateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Largura da barra */
  height: 100%; /* Altura da barra para cobrir toda a tela */
  background-color: var(--primary-color); /* Cor da barra */
  z-index: 1000; /* Garante que a barra fique sobre outros elementos */
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1001; /* Garante que a barra fique sobre outros elementos */
  position: relative;
  color: var(--primary-color);
}

.formLogin {
  display: flex;
  flex-direction: column; /* Garantir que os itens fiquem em coluna */
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #d9d9d9; /* Cor de fundo da caixa cinza */
  border-radius: 10px; /* Borda arredondada */
}

.formLogin .form-control {
  width: 300px; /* Largura dos campos do formulário */
  margin-bottom: 15px; /* Espaço entre os campos */
  border-bottom: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
}
.formTitle {
  margin-bottom: 60px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 2px solid var(--primary-color);
}

.button-control {
  width: 300px; /* Largura dos campos do formulário */
  margin-bottom: 15px; /* Espaço entre os campos */
  color: white;
  cursor: pointer;
}

.cadastro {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  color: white;
  cursor: pointer;
}

.semCadastro {
  color: var(--primary-color);
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
}

.form-front,
.form-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

.form-wrapper {
  perspective: 1000px;
  width: 300px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.modal1 {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 4px;
}

.close-button1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button1:hover,
.close-button1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

